* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
   
.menu-wrapper {
    width: 100px;
    background-color: rgb(8, 62, 20);
    height: 100vh;
    position: fixed;
    left: 0;
    transition: 1s;
}
h2 {
    color: black;
    padding: 20px 0;
    font-size: 2rem;
}
p {
    color: rgba(88, 97, 16, 0.918);
}
.menu-wrapper_title {
    color: #fff;
    text-transform: uppercase;
    padding: 40px 0 20px 20px;
    font-size: 1.3rem;
}
.menu_img {
    width: 20px;
    margin-left: 30px;
}
.menu_text {
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.menu-wrapper:hover .menu_text{
    visibility: visible;
    opacity: 1;
}
.menu_link:hover {
background-color: rgba(191, 212, 29, 0.397);
}
.menu_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
        
.menu-wrapper:hover {
    width: 250px;
}

.container {
    margin-left: 200px;
}

.container p {
text-transform: uppercase;
font-size: 36px;
margin-bottom: 70px;
}